@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ubymeq');
  src:  url('fonts/icomoon.eot?ubymeq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ubymeq') format('truetype'),
    url('fonts/icomoon.woff?ubymeq') format('woff'),
    url('fonts/icomoon.svg?ubymeq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-icon-"], [class*=" fa-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size:16px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1 !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-icon-jjg:before {
  content: "\e900";
}
.fa-icon-cbht:before {
  content: "\e901";
}
.fa-icon-clgxht:before {
  content: "\e902";
}
.fa-icon-fbht:before {
  content: "\e903";
}
.fa-icon-htbb:before {
  content: "\e904";
}
.fa-icon-lwcbht:before {
  content: "\e905";
}
.fa-icon-lwfbht:before {
  content: "\e906";
}
.fa-icon-qtsrht:before {
  content: "\e907";
}
.fa-icon-qtzcht:before {
  content: "\e908";
}
.fa-icon-crkgl:before {
  content: "\e909";
}
.fa-icon-kczb:before {
  content: "\e90a";
}
.fa-icon-pdgl:before {
  content: "\e90b";
}
.fa-icon-qmcl:before {
  content: "\e90c";
}
.fa-icon-bbzx:before {
  content: "\e90d";
}
.fa-icon-rwgl:before {
  content: "\e90e";
}
.fa-icon-bxwjsp:before {
  content: "\e90f";
}
.fa-icon-zxwjsp:before {
  content: "\e910";
}
.fa-icon-xqbd:before {
  content: "\e911";
}
.fa-icon-yjpz:before {
  content: "\e912";
}
.fa-icon-hggfgl:before {
  content: "\e913";
}
.fa-icon-cggl:before {
  content: "\e914";
}
.fa-icon-qdgl:before {
  content: "\e915";
}
.fa-icon-qdss:before {
  content: "\e916";
}
.fa-icon-bgyp:before {
  content: "\e917";
}
.fa-icon-clgl:before {
  content: "\e918";
}
.fa-icon-dagl:before {
  content: "\e919";
}
.fa-icon-fybx:before {
  content: "\e91a";
}
.fa-icon-gwgl:before {
  content: "\e91b";
}
.fa-icon-hygl:before {
  content: "\e91c";
}
.fa-icon-qyyz:before {
  content: "\e91d";
}
.fa-icon-rcxzsw:before {
  content: "\e91e";
}
.fa-icon-xtbgbb:before {
  content: "\e91f";
}
.fa-icon-xwgl:before {
  content: "\e920";
}
.fa-icon-zsgl:before {
  content: "\e921";
}
.fa-icon-zskgl:before {
  content: "\e922";
}
.fa-icon-gljsc:before {
  content: "\e923";
}
.fa-icon-xmxxpt:before {
  content: "\e924";
}
.fa-icon-bgbd:before {
  content: "\e925";
}
.fa-icon-cwgl:before {
  content: "\e926";
}
.fa-icon-qtrsxz:before {
  content: "\e927";
}
.fa-icon-zhgl:before {
  content: "\e928";
}
.fa-icon-zjjh:before {
  content: "\e929";
}
.fa-icon-zjsr:before {
  content: "\e92a";
}
.fa-icon-zjzc:before {
  content: "\e92b";
}
.fa-icon-jxfp:before {
  content: "\e92c";
}
.fa-icon-swgl:before {
  content: "\e92d";
}
.fa-icon-wjzgl:before {
  content: "\e92e";
}
.fa-icon-xxfp:before {
  content: "\e92f";
}
.fa-icon-cbfxbb:before {
  content: "\e930";
}
.fa-icon-cbhs:before {
  content: "\e931";
}
.fa-icon-cbys:before {
  content: "\e932";
}
.fa-icon-xtgl:before {
  content: "\e933";
}
.fa-icon-cwjszx:before {
  content: "\e934";
}
.fa-icon-rsxzb:before {
  content: "\e935";
}
.fa-icon-scjyzx:before {
  content: "\e936";
}
.fa-icon-xmglzx:before {
  content: "\e937";
}
.fa-icon-gcgl:before {
  content: "\e938";
}
.fa-icon-jcsj:before {
  content: "\e939";
}
.fa-icon-sbacjl:before {
  content: "\e93a";
}
.fa-icon-sbby:before {
  content: "\e93b";
}
.fa-icon-sbsw:before {
  content: "\e93c";
}
.fa-icon-sbwx:before {
  content: "\e93d";
}
.fa-icon-sbxx:before {
  content: "\e93e";
}
.fa-icon-kqgl:before {
  content: "\e93f";
}
.fa-icon-pxgl:before {
  content: "\e940";
}
.fa-icon-ygsw:before {
  content: "\e941";
}
.fa-icon-zpgl:before {
  content: "\e942";
}
.fa-icon-bdsj:before {
  content: "\e943";
}
.fa-icon-cszx:before {
  content: "\e944";
}
.fa-icon-grxx:before {
  content: "\e945";
}
.fa-icon-lcgl:before {
  content: "\e946";
}
.fa-icon-wdxx:before {
  content: "\e947";
}
.fa-icon-ygtxl:before {
  content: "\e948";
}
.fa-icon-cwsw:before {
  content: "\e949";
}
.fa-icon-fksw:before {
  content: "\e94a";
}
.fa-icon-gcsw:before {
  content: "\e94b";
}
.fa-icon-htzj:before {
  content: "\e94c";
}
.fa-icon-lwgl:before {
  content: "\e94d";
}
.fa-icon-rlzybd:before {
  content: "\e94e";
}
.fa-icon-tbgl:before {
  content: "\e94f";
}
.fa-icon-xtsw:before {
  content: "\e950";
}
.fa-icon-xxhglbd:before {
  content: "\e951";
}
.fa-icon-bmbimgl:before {
  content: "\e952";
}
.fa-icon-xmbbimgl:before {
  content: "\e953";
}
.fa-icon-aqgl:before {
  content: "\e954";
}
.fa-icon-jdgl:before {
  content: "\e955";
}
.fa-icon-jggl:before {
  content: "\e956";
}
.fa-icon-jsgl:before {
  content: "\e957";
}
.fa-icon-sggcgl:before {
  content: "\e958";
}
.fa-icon-tzgl:before {
  content: "\e959";
}
.fa-icon-xmbb:before {
  content: "\e95a";
}
.fa-icon-xmsgqq:before {
  content: "\e95b";
}
.fa-icon-xmzc:before {
  content: "\e95c";
}
.fa-icon-zhxyjc:before {
  content: "\e95d";
}
.fa-icon-zlgl:before {
  content: "\e95e";
}
.fa-icon-xmjg:before {
  content: "\e95f";
}
.fa-icon-sjksjq:before {
  content: "\e960";
}
.fa-icon-jcsz:before {
  content: "\e961";
}
.fa-icon-xcfl:before {
  content: "\e962";
}
.fa-icon-kdgl:before {
  content: "\e963";
}
.fa-icon-fjlb:before {
  content: "\e964";
}
.fa-icon-zf:before {
  content: "\e965";
}
.fa-icon-cs:before {
  content: "\e966";
}
.fa-icon-jc:before {
  content: "\e967";
}
